.side-bar-container{
    display: flex;
    align-items: center;
    flex-direction: column;
   
   margin: 10px;
   
}
.side-bar-link{
    width: 150px;
    height: 70px;
    border:  solid 1px black; ;
    padding: 10px;
    margin: 2px;
}